@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 100%;
  animation: gradient 8s linear infinite;
  background-image: linear-gradient(
    to right,
    #6366f1,
    #a855f7,
    #ec4899,
    #6366f1
  );
}
